<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ref</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" @keyup.enter='launch'>
        <button @click='launch'>留言</button>
        <button @click = 'focus' slot="btn">输入用户名</button>
        <hr/>
        <child ref = 'userNameInput'>
            <input type="text" ref = 'input' slot="input" v-model="user">
        </child>
        <hr/>
        <ul ref="msgWall"></ul>
    </div>
    <script src="./vue.min.js"></script>
    <script>
        /* ref用来给元素或子组件注册引用信息。引用信息将会注册在父组件的 $refs对象上。 如果在普通的DOM元素上使用，
        引用指向的就是DOM元素；如果用在子组件上，引用的就是组件实例
        
            关于ref注册时间的重要说明：因为ref本身是作为渲染结果被创建的，在初始渲染的时候他们不存在，因此此时不能够访问。 
            $refs也不是响应式的，因此不能用它在模板中做数据绑定

            $refs 只会在组件渲染完成之后生效，并且它们不是响应式的。这只意味着一个直接的子组件封装的“逃生舱”——你应该避免在模板或计算属性中访问 $refs。👈

            👉也就是说，在模板中无法注册 ref,如果你在模板中对一个DOM元素注册了ref属性，调用$refs访问该注册元素的时候会报错
        */
        var child = {
            template:`
            <div class = "child">
                <h3>子组件输入：</h3>
                <slot name="input" ></slot>
            </div>
            `,
            data(){
                return {
                    user:'jack'
                }
            }
        }
        new Vue({
            el:'#app',
            data:{
                msg:'',
                user:'jack'
            },
            components:{
                child
            },
            methods:{
                launch(){
                    console.log(this.$refs)
                    this.$refs.msgWall.innerHTML += '<li>'+this.msg+'</li>'
                    this.msg = '' 
                },
                focus(){
                    this.$refs.input.focus()
                }
            }
        })
    </script>
</body>
</html>