<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言墙</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" @keyup.enter="launch">
        <button @click="launch">留言</button>
        <hr/>
        <ul class="msgWall">
            <li v-for="item in msgArr" :key="item.id">{{item}}</li> 
        </ul>
    </div>
    <script src="./vue.min.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                msg:'',
                story:1,
                msgArr:[]
            },
            methods:{
                launch(){
                    this.msgArr.unshift('第'+this.story+'楼 ：'+this.msg)
                    this.story ++
                    this.msg = ''
                }
            }
        })
    </script>
</body>
</html>